<!DOCTYPE html>
<html lang="ja">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
</head>
<body>
  <h2><%= @image.user.name %> 様</h2>
  <hr>
  <p>
    こんにちは！ <%= @image.user.name %>さん！<br>
    投稿確認のメールです。
  </p>
  <hr>
</body>
</html>