<div class="container">
  <h1>確認</h1>
  <table>
    <tr>
      <td><%= image_tag @image.image.url %></td>
    </tr>
    <tr>
      <td><%= @image.content %></td>
    </tr>
    <tr>
      <td><%= render 'like_button', image: @image %></td>
    </tr>
  </table>
</div>

<%= link_to '戻る', images_path %>